body {

}

.container {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: auto;
    padding: 1em;
    border: 5px solid #ff0000;
    border-radius: 10px;
    background-color: rgb(34, 40, 46);
    color: white;
}
h1{
    margin-bottom: 5px;
    margin-top: 5px;
}
p {
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 20px;
}
.green{
    color: #0ab20a;
}
#button{
    margin-top: 10px;
    padding: 5px;
    background-color: #0ab20a;
    border: none;
    border-radius: 10px;
}
.passwords{
    display: flex;

    justify-content: space-evenly;

}

.pass{
    padding: 5px;
    background-color: cadetblue;

    border-radius: 5px;
}
